* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-width: 100%;
}

html {
    background-image: url('../images/curtain.jpg');
    background-repeat: repeat-y;
    background-position: center;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
}

.App {
    text-align: center;
    padding: 2%;
    font-family: 'Acme', sans-serif;
    margin: 5% 10%;
}

#topContent {
    display: flex; 
    flex-direction: column;
    align-items: center;
    background-color: rgb(246, 239, 208);
    border-radius: 5px;
    border: 1px solid black;
    padding: 3%;
    box-shadow: 8px 10px 10px 0;

    h1 {
        font-size: 3.5rem;
        margin: 1%;
        letter-spacing: 3px;
        text-shadow: rgb(255, 255, 255) 1px 0 10px;
    }
    
    h3 {
        margin: 1%;
    }
    
    
    form {
        position: relative;
        display: flex;
        align-items: center;
        justify-self: center;
        width: 40%;

        @media (min-width: 0px) and (max-width: 415px) {
            width: 100%;
        }
        
        .magnifyIcon {
            margin-left: 1.5%;
            position: absolute;
            width: 18px;
            height: 18px;
            transform: scaleX(-1);
            opacity: 0.5;
            color: gray;

            @media (min-width: 0px) and (max-width: 415px) {
                margin-left: 3%;
            }
        }

        input {
            padding: 1%;
            padding-left: 7%;
            width: 100%;
            font-size: 1rem;

            @media (min-width: 0px) and (max-width: 1024px) {
                padding-left: 10%;
            }
        }
    }
}


#resultsAndNoms {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto 5%;
    margin-top: 5%;
    text-align: start;

    @media (min-width: 0px) and (max-width: 1024px) {
        flex-direction: column;
    }
}

#resultsDiv, #nominationsDiv {
    width: 40%;
    padding: 3%;
    background-color: rgb(246, 239, 208);
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 8px 10px 10px 0;
    overflow: scroll;
    height: 350px;

    @media (min-width: 0px) and (max-width: 1024px) {
        width: 100%;
        margin: 3% auto;
    }

    h2 {
        text-align: center;
        font-size: 2rem;
    }

    li {
        margin: 5% auto;
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            height: 150px;
            width: 100px;
            margin: 3% auto;

            @media (min-width: 416px) and (max-width: 1024px) {
                height: 250px;
                width: 200px;
            }
        }

        h4 {
            font-size: 1.3rem;
        }
        
        .movieInfo {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 50%;
            margin: 3%;

            @media (min-width: 0px) and (max-width: 415px) {
                width: 65%;
                flex-wrap: wrap;
            }

            @media (min-width: 416px) and (max-width: 1024px) {
                width: 25%;
                flex-wrap: wrap;
            }

            .liveButton {
                padding: 5%;
                font-size: 1rem;
                border-radius: 5px;
                box-shadow: 2px 3px 3px 0;
                margin-top: 0;
                margin-bottom: 3px;
                transition: all 0.2s;
                outline: none;

                @media (min-width: 0px) and (max-width: 415px) {
                    padding: 5%;
                }
            }

            .disabledButton {
                padding: 5%;
                margin-top: 3px;
                margin-bottom: 0;
                opacity: 0.3;
                box-shadow: 1px 1.5px 1.5px 0;

                @media (min-width: 0px) and (max-width: 415px) {
                    padding: 5%;
                }
            }

            .liveButton:active {
                padding: 4%;
                box-shadow: 1px 1.5px 1.5px 0;
                margin-top: 3px;
                margin-bottom: 0;
                transition: all 0.2s;

                @media (min-width: 0px) and (max-width: 415px) {
                    padding: 5%;
                }
            }
        }
    }
}


#banner {
    display: flex;
    align-items: center;
    padding: 2%;
    justify-content: space-around;
    background-color: black;
    margin-top: 2%;
    border-radius: 3px;
    box-shadow: #333333 2px 3px 3px 0;

    @media (min-width: 416px) and (max-width: 1024px) {
       padding: 5%;
    }
    
    p {
        font-size: 1.3rem;
        color: white;
        text-align: center;

        @media (min-width: 416px) and (max-width: 1024px) {
            font-size: 1.9rem;
        }
    }

    .trophy {
        width: 45px;
        height: 45px;
        color: gold;
        margin-right: 2%;

        @media (min-width: 416px) and (max-width: 1024px) {
            width: 65px;
            height: 65px;
        }
    }

}