#resultsAndNoms {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto 5%;
    margin-top: 5%;
    text-align: start;

    @media (min-width: 0px) and (max-width: 1024px) {
        flex-direction: column;
    }
}